*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
a{
    text-decoration: none;
}
body{
    background-color: #999999;
    flex-wrap: wrap;
}
header a{
    color: rgba(240, 248, 255, 0.75);
    text-decoration: none;
}
.flex{
    display: flex;
}
header{
    align-items: center;
    background-color: #100E19;

}
.container{
   margin: 0 auto;
   max-width: 1200px;
}
@media (max-width:1200px) {
    .container{
        max-width: 970px;
    }
}
@media (max-width:992px) {
    .container{
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .container{
        max-width: none;
    }
}
.logo{
    color: aliceblue;
    margin: 16px 20px;
    font-size: 20px;
}
.nav-item{
    color: #c5c5c57c;

    margin-left: 20px;
    list-style-type: none;

}
.sidebar{
    margin-top: 20px;
    width: 250px;
    border: black 1px solid;
    height: 100%;
}
.cards-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 200px;
    height: 350px;
    background-color: #100E19;
    
    margin: 10px 10px 0px 0px;
}


.card-title{
    color: aliceblue;
    margin-left: 10px;
    text-align: center;
}


.context{
    width: 100%;
    margin-left: 100px;
}
.info span{
    margin-left: 10px;
}
.info h4{
    margin: 3px 0;
    display: inline-block;
}
.poster{
    width: 100%;
}
.photo{
    width: 500px;

}
.img{
    width: 100%;
}
/* Pagination */
.pagination {
    width: auto;
    margin: 0 auto
}

.pagination,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #6163b9
}

@media only screen and (max-width: 767px) {
    .pagination__link {
        font-size: 15px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {
        background: rgba(102, 88, 175, .15)
    }
}

.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (max-width: 767px) {
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

.pagination__item:first-child {
    margin-left: 0
}

.pagination__item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1023px) {
    .pagination__item:nth-child(3),
    .pagination__item:nth-child(9) {
        display: none
    }
}

@media only screen and (min-width: 1025px) {
    .pagination__item.active:hover
    .pagination__link {
        color: #fff;
        background: #212C3E
    }
}

.pagination__item.active .pagination__link {
    color: #fff;
    background: #212C3E
}

.pagination__item--dots .pagination__link {
    color: #bfc0f1
}
